<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djando web 2204</title>
</head>
<body>
    <h1>Hello các bạn</h1>
    <p>Đây là 1st templates</p>
    <form action="" method="post"> <!-- acction mà không để gì thì nó gửi vào server ở đường dẫn hiện tại -->
        {% csrf_token %}
        <label for="username">username</label>
        <input name="name_username" id="id_username" type="text"><br>
        <label for="password">password</label>
        <input name="name_password" id="id_password" type="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>