/* table, td, th, tr {
    border: 1px black solid;
    padding: 5px;
    border-collapse: collapse;
}

table{
    margin-bottom: 10px;
}

tr:hover{
    background-color: rgb(204, 198, 140);
}

#img_1{
    width: 10%;
    padding-left: 100px;
}
 */
/* nav.pagepets{
    display: inline-block;
} */

/* 
p{
    text-align: ;
} */